<body>
    <app-commontoolbar></app-commontoolbar>
    <div class="library">
        <img class="image" src="../../../assets/Images/library.jpg">
        <div>
            <h3 class="heading">Library Details</h3>
            <div class="entry-content">
                <table class="table table-stripped">
                    <tbody>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>TOTAL VOLUMES</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">53,261
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>TITLES</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">10,321
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>REFERENCE BOOKS</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">3871
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>PRINT JOURNALS AND MAGAZINES</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">153
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>COLLECTION OF E-BOOKS</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">Available
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>COLLECTION OF VIDEOS</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">NPTEL, SONET, IUCEE-WEBINAR
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>DIGITAL COLLECTION</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">CDs AND FLOPIES
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>E-JOURNALS SUBSRIPTION PACKAGES</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">EEE(ASPP), ASME, ASCE, DELNET, N-LIST(INFLIBNET)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>OPEN ACCESS JOURNALS</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">NISCAIR JOURNALS
                                INDIAN ACADEMY OF SCIENCE JOURNALS
                                DIRECTORY OF OPEN ACCESS JOURNALS
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="258">
                                <strong>MEMBERSHIP OF LIBRARY DEVELOPMENT NETWORKS</strong>
                            </td>
                            <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                width="264">DELNET, INFLIBNET
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>