.image{
    width: 800px;
    height: 970px;
}
.library{
    display: flex;
}
.heading{
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
}
.table {
    width: 100%;
    max-width: 100%;
}
table {
    background-color: transparent;
}
.entry-content table {
    border: 1px solid #e2e2e3;
    margin-left: 100px;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    width:500px;
}