<!-- <p>register works!</p> -->

<body>
    <div class="main">
        <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="register(form.value)">
            <div class="heading"> REGISTRATION FORM </div>
            <div class="btn1">
                <mat-form-field appearance="outline" class="field">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="firstname" formControlName="firstname" required>
                    <mat-error *ngIf="hasError('firstname','required')">name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="field1">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" placeholder="lastname" formControlName="lastname" required>
                    <mat-error *ngIf="hasError('lastname','required')">name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="btn1">
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Gender</mat-label>
                    <input matInput type="text" placeholder="gender" formControlName="gender" required>
                    <mat-error *ngIf="hasError('gender','required')">gender is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="field1">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" placeholder="email" formControlName="email" required>
                    <mat-error *ngIf="hasError('email','required')">email is required</mat-error>
                </mat-form-field>
            </div>
            <div class="btn1">
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="password"
                        formControlName="password" required>
                    <mat-error *ngIf="hasError('password','required')">password is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="field1">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="text" placeholder="phonenumber" formControlName="phonenumber" required>
                    <mat-error *ngIf="hasError('phonenumber','required')">number is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="dateofbirth" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" required>
                    <mat-error *ngIf="hasError('date','required')">date of birth is required</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="btn">
                <button [routerLink]="['/login']" class="Button">LOGIN</button>
                <button [routerLink]="['/register']" class="Button" mat-stroked-button
                    (click)="registerMessage()">REGISTER</button>
            </div>
        </form>
    </div>
</body>