<body>
    <app-cmntoolbar></app-cmntoolbar>
    <div class="icons">
        <button class="button">
            <img src="../../../assets/Images/mech.jfif">
        </button>
        <button class="button">
            <img src="../../../assets/Images/ece.jfif">
        </button>
        <button class="button">
            <img src="../../../assets/Images/civil.jfif">
        </button>
        <button class="button">
            <img src="../../../assets/Images/CsIt.jfif">
        </button>
    </div>
    <div class="headers">
        <h1 class="mech">MECHANICAL</h1>
        <h1 class="ece">ELECTRONICS</h1>
        <h1 class="civil">CIVIL</h1>
        <h1 class="cse">COMPUTERS</h1>
    </div>
</body>