<body>
    <app-toolbar></app-toolbar>
    <div class="main">
        <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="submit(form.value)">
            <div *ngIf="personalDetails">
                <div class="personal">PERSONAL INFORMATION:</div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" placeholder="firstname" formControlName="firstName" required>
                        <mat-error *ngIf="hasError('firstName','required')">name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" placeholder="lastname" formControlName="lastName" required>
                        <mat-error *ngIf="hasError('lastName','required')">name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Gender</mat-label>
                        <input matInput type="text" placeholder="gender" formControlName="gender" required>
                        <mat-error *ngIf="hasError('gender','required')">gender is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="email" formControlName="email" required>
                        <mat-error *ngIf="hasError('email','required')">email is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>State</mat-label>
                        <input matInput type="text" placeholder="state" formControlName="state" required>
                        <mat-error *ngIf="hasError('state','required')">state is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="text" placeholder="phonenumber" formControlName="phoneNumber" required>
                        <mat-error *ngIf="hasError('phoneNumber','required')">number is required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="dateofbirth" appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" required>
                        <mat-error *ngIf="hasError('date','required')">date of birth is required</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <button class="ButtonC" mat-stroked-button *ngIf="personalDetails"
                        (click)="resetFalse()">CONTINUE</button>
                </div>
            </div>
            <div *ngIf="!personalDetails && education">
                <div class="personal">FAMILY INFORMATION</div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Father Name</mat-label>
                        <input matInput type="text" placeholder="fathername" formControlName="fatherName" required>
                        <mat-error *ngIf="hasError('fatherName','required')">fathername is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Mother Name</mat-label>
                        <input matInput type="text" placeholder="mothername" formControlName="motherName" required>
                        <mat-error *ngIf="hasError('motherName','required')">mothername is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Father Occupation</mat-label>
                        <input matInput type="text" placeholder="father occupation" formControlName="occupation"
                            required>
                        <mat-error *ngIf="hasError('occupation','required')">occupation is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Mother Occupation</mat-label>
                        <input matInput type="text" placeholder="mother occupation" formControlName="occupation"
                            required>
                        <mat-error *ngIf="hasError('occupation','required')">occupation is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Father Age</mat-label>
                        <input matInput type="text" placeholder="father age" formControlName="age" required>
                        <mat-error *ngIf="hasError('age','required')">age is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Mother Age</mat-label>
                        <input matInput type="text" placeholder="mother age" formControlName="age" required>
                        <mat-error *ngIf="hasError('age','required')">age is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Father Mobile Number</mat-label>
                        <input matInput type="text" placeholder="father phonenumber" formControlName="phoneNumber"
                            required>
                        <mat-error *ngIf="hasError('phoneNumber','required')">phone number is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Mother Mobile Number</mat-label>
                        <input matInput type="text" placeholder="motherphonenumber" formControlName="phoneNumber"
                            required>
                        <mat-error *ngIf="hasError('phoneNumber','required')">phone number is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="address">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" placeholder="Street Locality and Area" formControlName="address"
                            required>
                        <mat-error *ngIf="hasError('address','required')">address is required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button class="ButtonB" mat-stroked-button *ngIf="!personalDetails"
                        (click)="resetFalse()">BACK</button>
                    <button class="ButtonA" mat-stroked-button *ngIf="!personalDetails"
                        (click)="continue()">CONTINUE</button>
                </div>
            </div>
            <div *ngIf="!education && professionalDetails">
                <div class="personal">EDUCATION & PROFESSIONAL INFORMATION:</div><br>
                <div class="personal1">GRADUATION DETAILS</div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Graduation Type</mat-label>
                        <mat-select [(ngModel)]="graduation" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let graduation of graduate" [value]="graduation">{{graduation}}
                            </mat-option>
                        </mat-select>
                        <input matInput type="text" formControlName="graduation" required>
                        <mat-error *ngIf="hasError('graduation','required')">graduation is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Specilization</mat-label>
                        <mat-select *ngIf="graduation" [(ngModel)]="specilization"
                            [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let specilization of specilize" [value]="specilization">
                                {{specilization}}</mat-option>
                        </mat-select>
                        <input matInput type="text" placeholder="Specilization" formControlName="specilization"
                            required>
                        <mat-error *ngIf="hasError('specilization','required')">Specilization is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>College Name</mat-label>
                        <input matInput type="text" placeholder="College Name" formControlName="collegeName" required>
                        <mat-error *ngIf="hasError('collegeName','required')">College name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Degree Percentage</mat-label>
                        <input matInput type="text" placeholder="Degree Percentage" formControlName="percentage"
                            required>
                        <mat-error *ngIf="hasError('percentage','required')">Percentage is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="personal1">12th DETAILS</div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>12th Type</mat-label>
                        <mat-select [(ngModel)]="intermediate" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let intermediate of inter" [value]="intermediate">{{intermediate}}
                            </mat-option>
                        </mat-select>
                        <input matInput type="text" formControlName="graduation" required>
                        <mat-error *ngIf="hasError('graduation','required')">12th type is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Specilization</mat-label>
                        <mat-select *ngIf="intermediate" [(ngModel)]="course" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let course of courses" [value]="course">{{course}}</mat-option>
                        </mat-select>
                        <input matInput type="text" placeholder="Specilization" formControlName="specilization"
                            required>
                        <mat-error *ngIf="hasError('specilization','required')">Specilization is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>College Name</mat-label>
                        <input matInput type="text" placeholder="College Name" formControlName="collegeName" required>
                        <mat-error *ngIf="hasError('collegeName','required')">College name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Percentage</mat-label>
                        <input matInput type="text" placeholder="Percentage" formControlName="percentage" required>
                        <mat-error *ngIf="hasError('percentage','required')">Percentage is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="personal1">SSC DETAILS</div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>School Name</mat-label>
                        <input matInput type="text" placeholder="School Name" formControlName="schoolName" required>
                        <mat-error *ngIf="hasError('schoolName','required')">School name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Percentage</mat-label>
                        <input matInput type="text" placeholder="Percentage" formControlName="percentage" required>
                        <mat-error *ngIf="hasError('percentage','required')">Percentage is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="personal1">PROFESSIONAL INFORMATION</div>
                <mat-radio-group aria-label="Select an option" class="field">
                    <mat-radio-button value="1" *ngIf="fresherDetails" (click)="detail()">Fresher</mat-radio-button>
                    <mat-radio-button value="2" (click)="details()">Experienced</mat-radio-button>
                </mat-radio-group>
                <div>
                    <button class="ButtonB" mat-stroked-button *ngIf="!personalDetails"
                        (click)="continue()">BACK</button>
                    <button mat-stroked-button class="Button">SUBMIT</button>
                </div>
            </div>
            <div *ngIf="!professionalDetails">
                <div class="personal">PROFESSIONAL DETAILS</div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Organisation Name</mat-label>
                        <input matInput type="text" placeholder="Company Name" formControlName="companyName" required>
                        <mat-error *ngIf="hasError('companyName','required')">Organisation name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Location</mat-label>
                        <input matInput type="text" placeholder="Location" formControlName="location" required>
                        <mat-error *ngIf="hasError('location','required')">Location is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Experience</mat-label>
                        <input matInput type="text" placeholder="Experience" formControlName="experience" required>
                        <mat-error *ngIf="hasError('experience','required')">Experience is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Technology</mat-label>
                        <input matInput type="text" placeholder="Technology" formControlName="technology" required>
                        <mat-select>
                            <mat-option *ngFor="let language of languagesList" [value]="language">{{language}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('technology','required')">Technology is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Designation</mat-label>
                        <input matInput type="text" placeholder="Designation" formControlName="designation" required>
                        <mat-error *ngIf="hasError('designation','required')">Designation is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label>Package</mat-label>
                        <input matInput type="text" placeholder="Package" formControlName="package" required>
                        <mat-error *ngIf="hasError('package','required')">Package is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn1">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label> Expected Location</mat-label>
                        <input matInput type="text" placeholder="Location" formControlName="location" required>
                        <mat-error *ngIf="hasError('location','required')">Location is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field field1">
                        <mat-label> Expected Package</mat-label>
                        <input matInput type="text" placeholder="Package" formControlName="package" required>
                        <mat-error *ngIf="hasError('package','required')">Package is required</mat-error>
                    </mat-form-field>
                </div>
                <div >
                    <button mat-stroked-button color="primary" class="ButtonB" *ngIf="!personalDetails"
                        (click)="details()">Back</button>
                    <button [routerLink]="['/login']" class="ButtonD" mat-stroked-button (click)="message()">SUBMIT DETAILS</button>
                </div>
            </div>
        </form>
    </div>
</body>