body{
    background-image: url("../../../assets/Images/abstract-wallpaper-high-definition-background-jpg.jpg");
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color:white;
    height: 50px;
    margin-bottom: 30px;
    margin-top:2%;
    background-color:royalblue;
}
.personal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin-left: 20%
}
.main{
    width: 100%;
}
.Button{
    border-radius: 8px;
    background-color: royalblue;
    color:white;
    box-shadow: none;
    height: 30px;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin-left: 53%;
}
.ButtonC{
    background-color: royalblue;
    color:white;
    margin-left: 53%;
    height: 30px;
    border-radius: 20px;
}
.btn{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}
.field{
    align-items: flex-start;
    width: 350px;
    margin-left: 20%
}

.field1{
    margin-left: 20px;
}
.dateofbirth{
    width: 720px;
    margin-left: 20%
}