body{
    background-size: cover;
    background-image: url("../../../assets/Images/286-2860087_minimalist-blue-4k-hd-desktop-wallpaper-for.jpg");
}
img{
    width: 400px;
    margin-top: 5%;
    margin-left: 10%;
}
h1{
    color: darkblue;
    font-size: 25px;
    font-weight: bold;
}
.vision{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vis{
    margin-left: 100px;
    margin-top: 50px;
}
p{
    font-size: 20px;
}