<body>
    <app-cmntoolbar></app-cmntoolbar>
    <div class="vision">
        <img src="../../../assets/Images/pen-idea-bulb-paper-1195x800.jpg">
        <div class="vis">
            <h1>Vision</h1>
            <p>To provide affordable quality education, while equipping students with knowledge and skills<br>
                in their chosen stream, inculcate values, identify hidden talents, provide opportunities<br>
                for students to realize theirfullpotential and thus shape them into future leaders,<br>
                entrepreneurs and above all good human beings.
            </p>
        </div>
    </div>
    <div class="vision">
        <div class="vis">
            <h1>Mission</h1>
            <p>To strive for quality education in keeping with the motto of the college,<br>
                “Excellence in Education” and prepare young minds <br>
                for imbibing knowledge, skills and sensitivity.
            </p>
        </div>
        <img src="../../../assets/Images/photo-1521316730702-829a8e30dfd0-1200x800.jpeg">
    </div>
</body>