body{
    background-image: url("../../../assets/Images/286-2860087_minimalist-blue-4k-hd-desktop-wallpaper-for.jpg");
    background-size: cover;
    height: 1000px;
}
table {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 25%
}
.head{
    font-size: 20px;
    font-weight: bold;
}
th.mat-header-cell {
    font-weight: bold;
    font-size: 20px;
    color: black;
}
h1{
    margin-left: 25%;
    margin-top: 2%;
}
    
