.toolbar{
    background-color: royalblue;
    height: 100px;
    padding: 0%;
    width: 100%;
    min-width: 800px;
}
.image{
    margin-left: 600px;
}
.menu{
    color:white;
    margin-left: 50px;
}